<div class="wrapper">
  <div class="placesTypes">
    <div
      class="item"
      [ngClass]="{ active: selectedPlacetype?.id == i + 1 }"
      (click)="onPlaceTypeSelect(type)"
      *ngFor="let type of placesTypes; let i = index"
    >
      <img
        width="50"
        height="50"
        [src]="'../../../../../assets/images/' + type.attachment"
        [alt]="type.placeType_an"
      />
    </div>
  </div>
  <div class="content">
    <div class="bus-levels">
      <div
        class="level"
        [class.active]="i == selectedLevel - 1"
        (click)="drawlevelBusPlaces(level)"
        *ngFor="
          let level of busConfigration.levelCount | getLevelArr;
          let i = index
        "
      >
        <p>{{ "Level " + level }}</p>
      </div>
    </div>
    <div class="grid">
      <div class="bus-grid" *ngFor="let row of busPlaces; let rowIndex = index">
        <div
          class="bus-place"
          (click)="onAddPlaceTypeToBusSeat(rowIndex, columnIndex)"
          *ngFor="let item of row; let columnIndex = index"
        >
          <img
            *ngIf="item?.attachment"
            [src]="'../../../../../assets/images/' + item?.attachment"
            [alt]="item?.placeType_an"
          />
        </div>
      </div>
    </div>

    <div class="passanger-seats-count">
      <h4>Passanger Count</h4>
      <div class="card">
        <p class="count">{{ passangerSeatsCount }}</p>
      </div>
    </div>
  </div>

  <div class="actions">
    <app-custom-btn [btnConfig]="saveBtnConfig">{{
      "MainModules.BusComposition.save" | translate
    }}</app-custom-btn>
    <app-custom-btn [btnConfig]="cancleBtnConfig">{{
      "MainModules.BusComposition.cancelation" | translate
    }}</app-custom-btn>
  </div>
</div>

<p-toast></p-toast>
