.container{
    width:80%;
    margin:10px auto;
    padding:10px;
    display: flex;
    justify-content: flex-end;
}

.content-table{
    width:80%;
    margin:20px auto;
}
.cancle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}