/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

input{
    outline: none;
    box-shadow: none;
    border:1px solid #eee
}

small{
    color:tomato;
    padding: 10px 0px;
    font-weight: bolder;
    display: block;
}
