.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  @media (max-width: 992px) {
    flex-direction: column;
    gap:10px;
  }
  .form-field {
    width: 15%;
    @media (max-width: 992px) {
      width: 90%;
    }
    ::ng-deep input {
      width: 100%;
      // margin:0px 10px;
    }
    app-number-input{
        width:100%;
        display: block;
        ::ng-deep p-inputnumber{
            width: 100% !important;
            span{
                width:100%
            }
        }
    }
    label{
        display: inline-block;
        margin:10px 0px;
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
